<div class="featured_data row m-0">
  <div class="col-12 col-md-3">
    <img src="/img/dataset-icon-1.png" alt="">
    <h3>{{ _('Presupuesto de Guatemala') }}</h3>
    {# <p>{{ _('No hay nada') }}</p> #}
    <a href="#">{{ _('Ver más') }}</a>
  </div>
  <div class="col-12 col-md-3">
    <img src="/img/dataset-icon-1.png" alt="">
    <h3>{{ _('Contrataciones y adquisiciones') }}</h3>
    {# <p>{{ _('No hay nada') }}</p> #}
    <a href="#">{{ _('Ver más') }}</a>
  </div>
  <div class="col-12 col-md-3">
    <img src="/img/dataset-icon-1.png" alt="">
    <h3>{{ _('Presupuesto municipales') }}</h3>
    {# <p>{{ _('No hay nada') }}</p> #}
    <a href="#">{{ _('Ver más') }}</a>
  </div>
  <div class="col-12 col-md-3">
    <img src="/img/dataset-icon-1.png" alt="">
    <h3>{{ _('Multimedia') }}</h3>
    {# <p>{{ _('No hay nada') }}</p> #}
    <a href="#">{{ _('Ver más') }}</a>
  </div>
</div>