<div class="row featured_organization">
  <div class="col-12 col-md-2">
    <a href="https://portal.segeplan.gob.gt/segeplan/?page_id=6343" target="_blank">
      <img src="/img/logos/Iconos-web_Ranking-2018-200x121.png" alt="">
    </a>
    <a href="https://saip.segeplan.gob.gt/laip/WebForm1.aspx" target="_blank">
      <img src="/img/logos/IPO.jpg" alt="">
    </a>
  </div>
  <div class="col-12 col-md-2">
    <a href="https://guatempleo.siarh.gob.gt/#45" target="_blank">
      <img src="/img/logos/Iconos-web_GUATEmpleo-200x121.png" alt="">
    </a>
    <a href="https://pnd.gt/" target="_blank">
      <img src="/img/logos/Iconos-web_PND.webp" alt="">
    </a>
  </div>
  <div class="col-12 col-md-2">
    <a href="https://portal.segeplan.gob.gt/segeplan/?page_id=6206" target="_blank">
      <img src="/img/logos/btn_Gobierno_Abierto_gt-200x121.jpg" alt="">
    </a>
    <a href="https://www.onsec.gob.gt/w1/" target="_blank">
      <img src="/img/logos/Iconos-web_Onsec-200x121.png" alt="">
    </a>
  </div>
  <div class="col-12 col-md-2">
    <a href="https://portal.segeplan.gob.gt/segeplan/?page_id=6206" target="_blank">
      <img src="/img/logos/Iconos-web-SEGEPLAN_LEY-SERVICIO-CIVIL-200x102.png" alt="">
    </a>
    <a href="https://guatemala.gob.gt/alerta-alba-keneth" target="_blank">
      <img src="/img/logos/alerta_Alba_Kenet.jpg" alt="">
    </a>
  </div>
</div>