<div class="featured_data row">
  {% set groups = h.get_featured_groups(4) %}

  {% for group in groups %}
    {% set title = group.title or group.name %}
    <div class="col-12 col-md-3">
      <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}">
      <h3>{{ title }}</h3>
      {% if group.description %}
          <p>{{ h.markdown_extract(group.description, 120)|urlize }}</p>
      {% endif %}
      <a href="{{ h.url_for(group.type ~ '.read', id=group.name) }}">{{ _('Ver más') }}</a>
    </div>
  {% endfor %}
</div>